.content-grid {
    display: flex;
	gap: 150px;
}
.content-grid > div {
    flex: 1 1 auto;
}
@media (max-width: 1080px) {
    .content-grid {
        gap: 70px;
		flex-direction: column;
		align-items: center;
    }
    .content-grid > div {
        width: 100%;
		max-width: 700px;
    }
}