.cart-added-list {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.cart-added-list .cart-added-list__btn {
    --bg: var(--color-bl-rgb);
    --bdrs: 50%;
    --h: 50px;
    --padding: 0;
    --fz: 22px;
    z-index: 2;
}

.cart-added-list .cart-added-list__btn,
.cart-added-list .cart-added-list__item-list,
.cart-added-list .cart-added-list__item-btn-plus::before,
.cart-added-list .cart-added-list__item-btn-minus::before,
.cart-added-list .cart-added-list__item-title-link {
    transition: .25s;
}

.cart-added-list .cart-added-list__item-list {
    --item-size: 300px;
    --item-indent: 34px;
    position: absolute;
    bottom: var(--item-indent);
    right: calc(var(--item-size) - (var(--item-size) * 2.5));
    width: var(--item-size);
    background-color: var(--color-wh);
    padding: 15px;
    border-radius: var(--bdrs-lg);
    min-height: 93px;
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.cart-added-list .no-result {
    --img-size: 96px;
    --text-weight: 500;
    --text-color: var(--color-red);
}

.cart-added-list .cart-added-list__title {
    margin-top: 0;
}
.cart-added-list .cart-added-list__summ {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0;
    border-top: 1px solid #f8f9fa;
    padding-top: 16px;
}
.cart-added-list .cart-added-list__summ .summ-label {
    font-size: 13px;
}
.cart-added-list .cart-added-list__summ .summ-number {
    font-size: 16px;
    font-weight: 600;
}

.cart-added-list .cart-added-list__item-list.show {
    right: var(--item-indent);
}

.cart-added-list .cart-added-list__item {
    --img-bdrs: 6px;
    --img-size: 80px;
    --bottom-size: 12px;
    --btn-bdrs: 7px;
    --btn-size: 21px;
    gap: 15px;
    min-height: calc(var(--btn-size) * 3);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin-bottom: var(--bottom-size);
    padding-bottom: var(--bottom-size);
    border-bottom: 1px solid #f8f9fa;
    width: 100%;
}

.cart-added-list .cart-added-list__item:last-child {
    --bottom-size: 0;
    border-bottom: none;
}

.cart-added-list .cart-added-list__item-img {
    max-width: var(--img-size);
    max-height: calc(var(--btn-size) * 3);
    border-radius: var(--img-bdrs);
    display: block;
}

.cart-added-list .cart-added-list__item-text-hold {
    margin: 0;
    padding-right: var(--btn-size);
    width: 100%;
}

.cart-added-list .cart-added-list__item-title-link {
    color: var(--color-bl);
    line-height: 1.18;
    font-size: 14px;
    font-weight: 600;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
    margin-bottom: 2px;
}

.cart-added-list .cart-added-list__item-title-link:hover {
    color: var(--color-pr);
}

.cart-added-list .cart-added-list__item-meta-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.cart-added-list .cart-added-list__item-meta {
    color: #6C798E;
    font-size: 10px;
    font-weight: 500;
}

.cart-added-list__item-count {
    position: absolute;
    right: 0;
    top: var(--btn-size);
    width: var(--btn-size);
    height: var(--btn-size);
    outline: none;
    border: none;
    font-size: 12px;
    font-weight: 600;
    color: #6C798E;
    text-align: center;
    background-color: transparent;
}

.cart-added-list .cart-added-list__item-btn {
    --bg: rgb(229 231 236 / 30%);
}

.cart-added-list .cart-added-list__item-btn-delete,
.cart-added-list .cart-added-list__item-btn-plus,
.cart-added-list .cart-added-list__item-btn-minus {
    position: absolute;
}

.cart-added-list .cart-added-list__item-btn-delete {
    --bg: var(--color-red-rgb);
    --bg-opacity: .12;
    --color: var(--color-red);
    --hover-color: var(--color-red);
    left: 3px;
    top: -3px;
}

.cart-added-list .cart-added-list__item-btn-plus,
.cart-added-list .cart-added-list__item-btn-minus {
    top: 0;
    right: 0;
}

.cart-added-list .cart-added-list__item-btn-minus {
    top: calc(var(--h) * 2);
}

.cart-added-list .cart-added-list__item-btn-plus:hover::before,
.cart-added-list .cart-added-list__item-btn-minus:hover::before {
    opacity: 1;
}

.cart-added-list .cart-added-list__item-btn-minus::before,
.cart-added-list .cart-added-list__item-btn-plus::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9px;
    opacity: .35;
}

.cart-added-list .cart-added-list__item-btn-minus::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='3.2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
}

.cart-added-list .cart-added-list__item-btn-plus::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='3.2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='12' y1='5' x2='12' y2='19'%3E%3C/line%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
}
