.gallery {
    margin-top: 90px;
}

.gallery .gallery__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 80px 0 100px;
}

.gallery .gallery__item {
    position: relative;
}

.gallery .gallery__item-hover-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--color-pr-rgb), 0.35);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .45s;
    font-size: 20px;
    text-shadow: 0 0 15px rgba(254, 254, 254, 0.8);
    color: #fff;
    opacity: 0;
}

.gallery .gallery__item-hover-box:hover {
    opacity: 1;
}

.gallery .gallery__item-hash-tag {}

.gallery .gallery__item-img {
    border-radius: 20px;
    display: block;
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.14);
}