.article .page-content a,
.btn-link,
.link-hover {
    --line-bottom: 0;
    position: relative;
}

.article .page-content a::before,
.btn-link::before,
.link-hover::before {
    content: '';
    position: absolute;
    bottom: var(--line-bottom);
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 1px solid;
    transition: width .25s;
}

.article .page-content a:hover::before,
.btn-link:hover::before,
.link-hover.active::before,
.link-hover:hover::before {
    left: 0;
    width: 100%;
}